/* Remove default spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*-------------------Module 1--------------------------------*/
/* Top Rectangle */
.top-rectangle{
    position: fixed;           /* stays on top */
    top: 0;                    /* pinned to top of screen */
    left: 0;
    width: 100%;               /* full width */
    height: 100px;
    background: #c40000;
    display: flex;
    align-items: center;       /* vertical centering */
    padding: 0 20px;           /* padding on both sides */
    z-index: 1000; 
}
.left .logo {
    height: 60px;
}
.center {
    flex: 1;              /* takes remaining space */
    text-align: center;   /* centers the title text */
}
.title {
    color: white;
    font-size: 22px;
}
.right {
    position: relative;  /* dropdown absolute inside */
}
.login-dropdown {
    margin-left: auto; /* pushes to right */
    position: relative; /* dropdown absolute inside */
}
.login-btn {
    padding: 8px 14px;
    border: none;
    background: white;
    color: #c40000;
    border-radius: 6px;
    cursor: pointer;
}
.dropdown-content {
    display: none; /* hidden by default */
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 120px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 6px;
    overflow: hidden;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    color: #c40000;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #f2f2f2;
}
/*-----------------------------Module 1----------------------------*/



