/* Remove default spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*-------------------Module 1--------------------------------*/
/* Top Rectangle */
.top-rectangle{
    position: fixed;           /* stays on top */
    top: 0;                    /* pinned to top of screen */
    left: 0;
    width: 100%;               /* full width */
    height: 100px;
    background: #c40000;
    display: flex;
    align-items: center;       /* vertical centering */
    padding: 0 20px;           /* padding on both sides */
    z-index: 1000; 
}
.logo{
    height:60px;   /* adjust size */
}
.title {
    position: absolute;        /* float above flex */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 22px;
}
.login-btn {
    margin-left: auto;         /* pushes it to right */
    padding: 8px 14px;
    border: none;
    background: white;
    color: #c40000;
    border-radius: 6px;
    cursor: pointer;
}
/*-----------------------------Module 1----------------------------*/

