/* Remove default spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Top Rectangle */
.top-rectangle{
    width:100%;
    height:100px;       /* Rectangle height */
    background:#c40000; /* Red color */
}

